= javascript_include_tag "admin"
%div{:id => "update_compilation_accordion"}
  %h3
    %a{:href => "#"} Update Compilation (admin only)
  %div
    = render 'compilations/form'

    = link_to 'Show', @compilation
    |
    = link_to 'Back', compilations_path
