= javascript_include_tag "admin"
%h2 
%div{:id => "new_compilation_accordion"}
  %h3
    %a{:href => "#"} Add Compilation (admin only)
  %div
    = render 'compilations/form'

    = link_to 'Back', compilations_path