- cache do
  %h3 Compilation Details
  %table{:width => "65%", :align => "center", :class => "tablesorter"}
    %tr
      %td{:width => "20%"} 
        %b Compilation ID
      %td{:width => "80%"}= @compilation.id
    %tr  
      %td 
        %b Label
      %td= @compilation.label
