%h1 Admin Recordings
%p 
  %a{:href => "/recordings/new"} Add Recording
%p 
  %a{:href => "/recordings/choose_rec/edit"} Edit Recording 
%p 
  %a{:href => "/recordings/choose_rec/delete"} Delete Recording 