= javascript_include_tag "admin"
%div{:id => "update_recording_accordion"}
  %h3
    %a{:href => "#"} Update Recording (admin only)
  %div
    = render 'recordings/form'

    = link_to 'Show', @recording
    |
    = link_to 'Back', recordings_path
