= javascript_include_tag "admin"
%div{:id => "add_recording_accordion"}
  %h3
    %a{:href => "#"} Add Recording (admin only)
  %div
    = render 'recordings/form'

    = link_to 'Back', recordings_path

    %div{:id => "dialog"}