#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	position: relative;
	min-height: 600px;
}
#body-image {
	margin-top: 60px;
}
#main-nav {
	margin: 0px 0px 0px 2px;
	text-align: left;
	min-height: 25px;
	padding-top: 10px;
	padding-left: 0px;
}
#main-handle {
	width: 605px;
	float: right;
	margin-top: -1px;
}
#main-nav li {
	display: inline;
	list-style: none;
}
#main-nav li a {
	margin-right: 5px;
	font-size: 15px;
	text-decoration: none;
	color: #6da1a0;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	outline: 0;
	position: relative;
	top: -2px;
}
#main-nav li a:hover, #main-nav li a.active {
	background: #514539;
}
#sub-link-bar {
	background: #493a16;
	min-height: 10px;
	border-bottom: #645546 1px solid;
}
.sub-links {
	display: none;
	position: absolute;
	width: 100%;
	top: -30px;
	text-align: left;
	left: 0px;
}
#main-nav li .sub-links li a:hover{
	background: #2d2620;
}
#main-nav li a.close{
	display: none;	
	position: absolute;
}
#main-nav li a.close:hover{
	background: #900;
}
<!--Thanks Spiffy Corners--> 
.round {
	display:block
}
.round * {
	display:block;
	height:1px;
	overflow:hidden;
	font-size:.01em;
	background:#493a16
}
.round1 {
	margin-left:3px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #493a16;
	border-right:1px solid #493a16;
	background:#493a16
}
.round2 {
	margin-left:1px;
	margin-right:1px;
	padding-right:1px;
	padding-left:1px;
	border-left:1px solid #493a16;
	border-right:1px solid #493a16;
	background:#493a16
}
.round3 {
	margin-left:1px;
	margin-right:1px;
	border-left:1px solid #493a16;
	border-right:1px solid #493a16;
}
.round4 {
	border-left:1px solid #493a16;
	border-right:1px solid #493a16
}
.round5 {
	border-left:1px solid #493a16;
	border-right:1px solid #493a16
}
.roundfg {
	background:#493a16
}

/* Site CSS */
body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%; 
	max-height: 100%; 
	font-size: 13;
	background-color: #d6c166;	
}
.spacer {
  width: 100%;
  height: 15px;
}
hr {
  border: 0px;
  color: #ccc;
  background-color: #58649e;
  height: 1px;
  width: 100%;
  text-align: left;
}
h1 {
  font-size: 28px;
  color: #000000;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;;
  font-weight: 300;
}
h2 {
  font-size: 17px;
  color: #000000;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: 400;
}
h3 {
  color: #000000;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
  padding: 5px;
  margin-top: 5px;
}
div.field, div.actions {
  margin-bottom: 10px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a {
  color: #331111;
  text-decoration: none;
}
a:hover {
  color: #331111;
  text-decoration: underline;
}
div.paginated ul, div.paginated ul li {
  display: inline;
  padding: 2px;
  font-size: 14;
}  

input {
	padding:0.15em;
	border:1px solid #ddd;
	background:#fafafa;
	font: 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

select {
	padding:0.15em;
	border:1px solid #ddd;
	background:#fafafa;
	font: 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}

div.main {
	position: absolute;
	top: 46px;
  right: 80px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	padding:3px;	
}
