.jcarousel-skin-ambernet .jcarousel-container {
    -moz-border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.jcarousel-skin-ambernet .jcarousel-container-horizontal {
    width: 345px;
    padding: 20px 40px;
}

.jcarousel-skin-ambernet .jcarousel-clip-horizontal {
    width:  345px;
    height: 245px;
}

.jcarousel-skin-ambernet .jcarousel-item {
    width: 345px;
    height: 245px;
}

.jcarousel-skin-ambernet .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-ambernet .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ambernet .jcarousel-next-horizontal {
    position: absolute;
    top: 102px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-ambernet .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-ambernet .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-ambernet .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ambernet .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ambernet .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-ambernet .jcarousel-prev-horizontal {
    position: absolute;
    top: 102px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-ambernet .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-ambernet .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-ambernet .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ambernet .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ambernet .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}