/* Site CSS */
.spacer {
  width: 100%;
  height: 15px;
}
hr {
  border: 0px;
  color: #ccc;
  background-color: #58649e;
  height: 1px;
  width: 100%;
  text-align: left;
}
h1 {
  font-size: 28px;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 17px;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 400;
}
h3 {
  color: #000000;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
  padding: 5px;
  margin-top: 5px;
}
a {
  color: #331111;
  text-decoration: none;
}
a:hover {
  color: #331111;
  text-decoration: underline;
}
div.paginated ul, div.paginated ul li {
  display: inline;
  padding: 2px;
  font-size: 14;
}  
/* The following CSS sets up for forms */
form * {
	margin:0;
	padding:0;
} /* Standard margin and padding reset, normally done on the body */

legend {
	color:#000; /* IE styles legends with blue text by default */
	*margin-left:-7px; /* A hack that only ie reads to position the legend in the same place cross browser */
}
fieldset {
	border:1px solid #dedede; /* Default fieldset borders vary cross browser, so make them the same */
}
fieldset div {
	overflow:hidden; /* Contain the floating elements */
	display:inline-block; /* Give layout in ie to contain float */
}
fieldset div {
	display:block;
} /* Reset element back to block leaving layout in ie */

label {
	float:left; /* Take out of flow so the input starts at the same height */
	width:5em; /* Set a width so the inputs line up */
}

.radio {
	position:relative; /* Position so children are relative to this container */
	border:0; /* Remove the border */
}

.radio span {
	position:absolute; /* Take the content of the legend out of flow */
	top:0;left:0; /* and position it to the top left of the fieldset */
	width:5em; /* Same width as labels */
}

.radio ul {
	margin-left:5em; /* Since the legend is out of flow. set margin, so inputs are inline */
	list-style:none; /* Dont want bullets */
}

.radio li {
	position:relative; /* Fix a bug in IE zoom functionality */
	display:inline; /* Display the inputs in a line */
	white-space:nowrap; /* We dont want a label to wrap between the input and label */
}

.radio label, .radio input {
	width:auto; /* Reset the width on the label from the 5em, set earlier */
	float:none; /* Reset the float from left on the label, set earlier */
	vertical-align:middle; /* Align the radio buttons with the inputs */
}

input {
	padding:0.15em;
	border:1px solid #ddd;
	background:#fafafa;
	font: 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

select {
	padding:0.15em;
	border:1px solid #ddd;
	background:#fafafa;
	font: 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 
#tabs {
	width: 600px;
}
/* The following CSS is for the carousel (search filters) */
#carousel-control li { 
	width: 50px; 
	float: top; 
	margin: 8px; 
	list-style: none;
}

#carousel{
	overflow: hidden;
	padding: 0px 0;
	margin: 0 0 10px 0;
	height: 270px;
	width: 532px;
	position: relative;
}

#carousel_block {
    height:  270px;  
    width:   432px;  
    padding: 0px;  
    margin:  0px;  
}

.carousel_item {
	padding: 36px 20px 0 20px;
	height:  225px;  
	width:   400px; 
	line-height: 14px;
	text-align: left;
}

#prev {
	float: left;
	width: 16px;
	height: 270px;
	background: url(/images/prev.png) no-repeat scroll top center;
}

#next  {
	float: right;
	margin: -270px 0 0 0;
	width: 16px;
	height: 270;
	background: url(/images/next.png) no-repeat scroll top center;
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%; 
	max-height: 100%; 
	font-size: 13;
	background: #58649e;
}