%h2 Users controller, new action

= error_messages_for @user

= form_for(@user, :action => url(:users) ) do
  %p 
    %input{:type => "text", :name => "login"} Login
  %p 
    %input{:type => "password", :name => "password"} Password
  %p
    = submit "Create"

= link_to 'Back', url(:users)