%p
%p
AmberNET is still in a beta period.  Recordings are being entered into the database but we would like bug feedback.  Feel free to browse and search the recordings that will be available.
All of the setlist data is pulled from
%a{:href => "http://perpetualarchives.mongoosecommunication.com/"} Perpetual Archives
