= js_include_tag :beta
%div{:id => "tabs"}
  %ul
    %li
      %a{:href => "#tabs-1"} Beta Details
    %li 
      %a{:href => "#tabs-2"} Contact Us
    %li 
      %a{:href => "#tabs-3"} Bug Report   
  %div{:id => "tabs-1"}
    AmberNET is still in a beta period.  Recordings are being entered into the database but we would like bug feedback.  Feel free to browse and search the recordings that will be available.  All of the setlist data is pulled from  Perpetual Archives
  %div{:id => "tabs-2"}
    %iframe{:src => "http://spreadsheets.google.com/embeddedform?key=r_xzcu3qEY6NnAg0lCYeNqQ", :width => "500", :height => "562", :frameborder => "0", :marginheight => "0", :marginwidth => "0"} Loading...
  %div{:id => "tabs-3"}
    %iframe{:src => "http://spreadsheets.google.com/embeddedform?key=rT7eLSSevVcHOkeVX9-hYFw", :width => "500", :height => "610", :frameborder => "0", :marginheight => "0",  :marginwidth => "0"} Loading...  