%div{:id => "beta_accordion"}
  %h3
    %a{:href => "#"} Beta Details
  %div  
    AmberNET is still in a beta period.  Recordings are being entered into the database, but we would like bug feedback.  Feel free to browse and search the recordings that will be available.  All of the setlist data is pulled from  Perpetual Archives.
  %h3 
    %a{:href => "#"} Contact Us
  %div
    %iframe{:src => "http://spreadsheets.google.com/embeddedform?key=r_xzcu3qEY6NnAg0lCYeNqQ&pli=0&ttl=1&bc=F9F9F9", :width => "500", :height => "600", :frameborder => "0", :marginheight => "0", :marginwidth => "0"} Loading...
  %h3 
    %a{:href => "#"} Bug Report
  %div
    %iframe{:src => "http://spreadsheets.google.com/embeddedform?key=rT7eLSSevVcHOkeVX9-hYFw&pli=0&ttl=1&bc=F9F9F9", :width => "500", :height => "700", :frameborder => "0", :marginheight => "0",  :marginwidth => "0"} Loading...