= javascript_include_tag "admin"
%div{:id => "update_song_accordion"}
  %h3
    %a{:href => "#"} Update Song (admin only)
  %div
    = render 'songs/form'

    = link_to 'Show', @venue
    |
    = link_to 'Back', songs_path
