= javascript_include_tag "admin"
%div{:id => "update_venue_accordion"}
  %h3
    %a{:href => "#"} Update Venue (admin only)
  %div
    = render 'venues/form'

    = link_to 'Show', @venue
    |
    = link_to 'Back', venues_path
