= javascript_include_tag "admin"
%h2 Add Venue (admin only)
%form{:method => "post", :action => "/venue/create", :autocomplete => "off"}  
  %table
    %tr
      %td       
        %h5 Name:
      %td
        %input{:type => "text", :venue_name}
    %tr
      %td
        %h5 City:
      %td
        %input{:type => "text", :venue_city}
    %tr
      %td
        %h5 Venue State:
      %td
        %input{:type => "text", :venue_state}
    %tr
      %td{:colspan => "2"}= submit "Add"
%div{:id => "dialog"}