%div{:id => "index_tabs"}
  %ul
    %li
      %a{:href => "/amberland/info"} Home
    %li 
      %a{:href => "/recordings"} Search Recordings     
    %li 
      %a{:href => "/shows"} Search Shows
    %li 
      %a{:href => "/beta"} Beta Information