%script{:language => "javascript"}
  $(function() { jQuery(document).ready(function($) { $("#index_accordion").accordion({autoHeight: false, collapsible: true}); });});
%div{:id => "index_accordion"}
  %h3
    %a{:href => "#"} Welcome!
  %div
    %p Welcome to AmberNET!  There are number of ways to download recordings as well as streaming options for devices like iPhones.  You can visit the tabs above for more information on each option.  
    %p Please note that the AmberNET database contains a list of shows and recordings.  There might be more than one recording available for some shows while other shows may have no recordings.
    %p 
      All setlist data is pulled directly from  
      %a{:href => "http://perpetualarchives.mongoosecommunication.com"} Perpetual Archives. 
      We would like to thank them for tracking and making this data accessible.
  %h3
    %a{:href => "#"} Web
  %div      
    %p Using a web browser is the easiest way to access AmberNET.  The first step is to search for recordings in the database.  We have made it possible to search by date range, venue name, city, state, source, taper and more!  
    %p Once you find a show that interests you, click on the label in the search results page to view the recording details.  
    %p In the download tab you will have the option to download the entire show zipped up or individual tracks.  Most shows are available in shn or flac and mp3 (V0).  
  %h3
    %a{:href => "#"} Stream
  %div  
    %p All shows on AmberNET can be streamed using pls or m3u playlist files.  If you wish to stream shows using a laptop make sure you have an application associated with whichever file type you choose.  
    %p 
      Streaming on an iPhone or iPod Touch requires that you have an application do do so.  Before Amberland, you should go ahead check out the Apps tab above and select an application for streaming.
    %p 
      If you prefer to skip the web interface, you can queue up every recording for a particular date by hitting the following URL in your favorite streaming application:
      %br  
      http://ambernet.net/s/YYYY-MM-DD.pls
      %br
      http://ambernet.net/s/YYYY-MM-DD.m3u  
  %h3
    %a{:href => "#"} iTunes
  %div  
    %p Just like prior years, we will be running an iTunes server.  Load up iTunes and connect to AmberNET to sync up some recordings to your iPod.
    %p For faster access, grab OurTunes from the Application tab above.
    %p The name of the server will be 'AmberNET'  
  %h3
    %a{:href => "#"} FTP
  %div
    %p For more advanced users, we setup an FTP server.  Just fire up your favorite FTP software and queue up as many recordings as you want.  
    %p If you don't have FTP software installed just visit the Apps tab above to grab some freeware.  
    %p Just login as anonymous with your email address as the password to ftp://ambernet.net:21
  %h3
    %a{:href => "#"} Apps
  %div  
    %table{:class => "tablesorter"}
      %tr
        %th{:width => "25%"} App Type
        %th{:width => "25%"} Application
        %th{:width => "25%"} Operating System
        %th{:width => "50%"} Description
      %tr
        %td FTP Client
        %td
          %a{:href => "/downloads/SFTPMSI.exe"} SmartFTP
        %td Windows
        %td SmartFTP is an FTP (File Transfer Protocol) client which allows you to transfer files between your local computer and a server on the Internet.            
      %tr
        %td FTP Client
        %td 
          %a{:href => "/downloads/Cyberduck-3.2.dmg"} Cyberduck
        %td OSX
        %td FTP, SFTP, WebDAV, Cloud Files & Amazon S3 Browser for Mac OS X.                      
      %tr
        %td Media/Streaming Client
        %td 
          %a{:href => "/downloads/winamp5552_full_emusic-7plus_en-us.exe"} Winamp
        %td Windows
        %td Winamp is a proprietary media player written by Nullsoft, now a subsidiary of AOL.  Besides MP3, Winamp supports a wide variety of contemporary and specialized music file formats, including MIDI, MOD, MPEG-1 audio layers 1 and 2, AAC, M4A, FLAC, WAV and Windows Media Audio.
      %tr
        %td Media/Streaming Client
        %td 
          %a{:href => "/downloads/vlc-0.9.9a.dmg"} VLC
        %td OSX
        %td VLC media player is an open source, free software media player written by the VideoLAN project.  VLC is a portable multimedia player, encoder, and streamer supporting many audio and video codecs and file formats as well as DVDs, VCDs, and various streaming protocols.
      %tr
        %td iTunes Client
        %td 
          %a{:href => "/downloads/OT44.jar"} OurTunes
        %td Both            
        %td ourTunes is the continuation of several open source projects designed to allow you to browse and download from other people's iTunes Music Shares.
      %tr 
        %td Other
        %td
          %a{:href => "/downloads/jre-6u13.exe"} JRE
        %td Windows              
        %td Java Runtime Environment, required for OurTunes (JRE is automatically installed on OSX). 
      %tr 
        %td iPhone
        %td
          %a{:href => "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=289892007&mt=8"} FStream 
        %td iPhone        
        %td FStream is a little webradio player. FStream recognizes mp3, ogg, wma, aac, pls, m3u and asx.                                
      %tr
        %td iPhone             
        %td
          %a{:href => "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=294952511&mt=8"} Radio
        %td iPhone               
        %td Listen to over 6300 radio stations anywhere in the world!  Supports mp3 and aac stream formats and pls, m3u and xspf playlists.
      %tr
        %td iPhone             
        %td
          %a{:href => "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=292233889&mt=8"} WunderRadio
        %td iPhone              
        %td Link to over thirty thousand radio stations on your iPhone with WunderRadio.  Suupports many formats including asx, m3u and pls.                   
      %tr 
        %td Media Conversion
        %td
          %a{:href => "/downloads/flac-1.2.1b.exe"} Flac Frontend
        %td Windows           
        %td Encode/decode flac files.
      %tr
        %td Media Conversion           
        %td
          %a{:href => "/downloads/mkwact097b1.exe"} mkwACT
        %td Windows           
        %td
          Encode/decode shn files.  Don't forget to download the
          %a{:href => "/downloads/mkw-mfc42.exe"} Runtime Libraries
          as well.
      %tr
        %td Other           
        %td
          %a{:href => "/downloads/mkw-mfc42.exe"} mkwAct Runtime Libraries
        %td Windows           
        %td Required for mkwACT.                             
      %tr 
        %td Media Conversion      
        %td
          %a{:href => "/downloads/xACT1.62.dmg"} xACT
        %td OSX             
        %td Encode/decode flac and shn files