= js_include_tag :amberland
%div{:id => "tabs"}
  %ul
    %li
      %a{:href => "#tabs-1"} Welcome!
    %li 
      %a{:href => "#tabs-2"} FTP Information
    %li 
      %a{:href => "#tabs-3"} Streaming Information
    %li 
      %a{:href => "#tabs-3"} Applications
  %div{:id => "tabs-1"}
    %p Welcome to AmberNET!  There a number of ways to download shows as well as streaming options for devices like iPhones, iPod Touches and any other device that supports streaming media.  You can visit the links above for more information on each option.
    %p The easiest method is using a web browser.  Just click on the link above to Search Recordings and you will have the option to download each track in flac or mp3 format.  You will also have the option to download a zip of the entire show.  Using a web browser is also the easiest way to query the AmberNET recording database.  We have made it possible to search by date range, venue name, city, state, source, taper and more!  
    %p For more advanced users, we setup an FTP server.  Just fire up your favorite FTP software and queue up as many shows as you want.  If you don't have FTP software installed just visit the Applications tab to grab some freeware.
    %p Just like years before, we will be running an iTunes server.  Load up iTunes and connect to AmberNET to sync up some shows to your iPod.  For faster access, grab AllTunes from the Application tab above.
    %div{:id => "tabs-2"}
      FTP Info
    %div{:id => "tabs-3"}
      Streaming
    %div{:id => "tabs-4"}
      Application info