= javascript_include_tag "browse"
%br
%form{:id => "browseForm", :method => "post", :action => "#"}
  %div{:class => "wizard"}    
    %div{:id => "firstStep", :class => "step"}
      %table{:width => "50%", :align => "center"}
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "date", :name => "browse", :checked => "true"}
          %td{:align => "left"}
            By Date
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "venue", :name => "browse"}  
          %td{:align => "left"}
            By Venue
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "songs", :name => "browse"}  
          %td{:align => "left"} 
            By Songs
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "recording", :name => "browse"}  
          %td{:align => "left"} 
            By Recording Type
    %div{:id => "date", :class => "step"}
      %table{:width => "50%", :align => "center"}
        %tr{:height => "94"}
          %td{:align => "center"}
            %input{:type => "text", :name => "start_date", :id => "start_date", :size => "10"}
            to
            %input{:type => "text", :name => "end_date", :id => "end_date", :size => "10"}
      %input{:type => "hidden", :class => "link", :value => "lastStep"}  
    %div{:id => "venue", :class => "step"}
      %table{:width => "85%", :align => "center"}
        %tr{:height => "94"}
          %td{:align => "center"}
            %input{:type => "text", :id => "venue_name", :name => "venue_name", :size => "20"}
      %input{:type => "hidden", :class => "link", :value => "lastStep"}   
    %div{:id => "recording", :class => "step submit_step"}
      %table{:width => "85%", :align => "center"}
        %tr{:height => "94"}
          %td{:align => "center"}
            %select{:name => "recording_types", :id => "recording_types"}
              = options_for_select(get_recording_types)
    %div{:id => "songs", :class => "step"}
      %table{:width => "75%", :align => "center"}
        %tr{:height => "94"}
          %td
            %input{:type => "text", :id => "song_name", :name => "song_name", :size => "20"}
      %input{:type => "hidden", :class => "link", :value => "lastStep"}         
    %div{:id => "lastStep", :class => "step submit_step"}
      %table{:width => "40%", :align => "center"}
        %tr
          %td{:align => "center"}
            %input{:type => "checkbox", :name => "display", :value => "recordings"}
          %td{:align => "left"}
            Display Recordings
        %tr
          %td{:align => "center"}
            %input{:type => "checkbox", :name => "display", :value => "shows"} 
          %td{:align => "left"}
            Display Shows
  %br
  %div{:align => "center"}
    %input{:class => "navigation_button", :value => "Back", :type => "reset"}
    %input{:class => "navigation_button", :value => "Next", :type => "submit"}