= javascript_include_tag "browse"
%br
%form{:id => "browseForm", :method => "post", :action => "#"}
  %div{:class => "wizard"}    
    %div{:id => "firstStep", :class => "step"}
      %br
      %input{:type => "radio", :class => "link", :value => "date", :name => "browse", :checked => "true"}
      &nbsp;&nbsp;&nbsp; By Date
      %br
      %input{:type => "radio", :class => "link", :value => "venue", :name => "browse"}  
      &nbsp;&nbsp;&nbsp; By Venue
      %br
      %input{:type => "radio", :class => "link", :value => "songs", :name => "browse"}  
      &nbsp;&nbsp;&nbsp; By Songs
      %br
      %input{:type => "radio", :class => "link", :value => "recording", :name => "browse"}  
      &nbsp;&nbsp;&nbsp; By Recording Type
    %div{:id => "date", :class => "step"}
      Year:
      %br
      %select{:name => "year", :id => "year"}
        = options_for_select(get_years)
      %br
      %br
      Date Range:
      %br
      %input{:type => "text", :name => "start_date", :id => "start_date", :size => "7"}
      to
      %input{:type => "text", :name => "end_date", :id => "end_date", :size => "7"}  
      %input{:type => "hidden", :class => "link", :value => "lastStep"}  
    %div{:id => "venue", :class => "step"}
      Venue Name:
      %br
      %input{:type => "text", :id => "venue_name", :name => "venue_name", :size => "20"}
      %br
      %br
      City:
      %br
      %input{:type => "text", :id => "venue_city", :name => "venue_city", :size => "20"}
      %br
      %br
      State:
      %br
      %select{:name => "venue_state", :id => "venue_state"}
        = options_for_select(get_states)
      %input{:type => "hidden", :class => "link", :value => "lastStep"}   
    %div{:id => "recordings", :class => "step submit_step"}
      Recording Type:
      %br
      %select{:name => "recording_types", :id => "recording_types"}
        = options_for_select(get_recording_types)
    %div{:id => "songs", :class => "step"}
      Songs:
      %br    
      %input{:type => "text", :id => "song_name", :name => "song_name", :size => "20"}
      %br
      %br
      %input{:type => "hidden", :class => "link", :value => "lastStep"}         
    %div{:id => "lastStep", :class => "step submit_step"}
      %p
        %input{:type => "checkbox", :name => "display", :value => "recordings"} 
        &nbsp;&nbsp;&nbsp; Display Recordings
      %p
        %input{:type => "checkbox", :name => "display", :value => "shows"} 
        &nbsp;&nbsp;&nbsp; Display Shows
    %br
    %br
    %input{:class => "navigation_button", :value => "Back", :type => "reset"}
    %input{:class => "navigation_button", :value => "Next", :type => "submit"}