= javascript_include_tag "browse"
%br
%form{:id => "browseForm", :method => "post", :action => "/browse/browse"}
  %div{:class => "wizard"}    
    %div{:id => "firstStep", :class => "step"}
      %table{:width => "50%", :align => "center"}
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "date", :name => "browse", :id => "browse", :checked => "true"}
          %td{:align => "left"}
            By Date Range
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "venues", :id => "browse", :name => "browse"}  
          %td{:align => "left"}
            By Venues
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "songs", :id => "browse", :name => "browse"}  
          %td{:align => "left"} 
            By Songs
        %tr
          %td{:align => "center"}
            %input{:type => "radio", :class => "link", :value => "recording", :id => "browse", :name => "browse"}  
          %td{:align => "left"} 
            By Recording Type
    %div{:id => "date", :class => "step"}
      %table{:width => "50%", :align => "center"}
        %tr{:height => "94"}
          %td{:align => "center"}
            %input{:type => "text", :name => "start_date", :id => "start_date", :size => "10"}
            to
            %input{:type => "text", :name => "end_date", :id => "end_date", :size => "10"}
      %input{:type => "hidden", :class => "link", :value => "lastStep"}  
    %div{:id => "venues", :class => "step submit_step"}
      %table{:width => "85%", :align => "center"}
        %tr{:height => "94"}
          %td{:align => "center"}
            %input{:type => "text", :id => "venue_name", :name => "venue_name", :size => "20"}
      %input{:type => "hidden", :class => "link", :value => "lastStep"}   
    %div{:id => "recording", :class => "step submit_step"}
      %table{:width => "85%", :align => "center"}
        %tr{:height => "94"}
          %td{:align => "center"}
            %select{:name => "recording_type", :id => "recording_type"}
              = options_for_select(get_recording_types)
    %div{:id => "songs", :class => "step submit_step"}
      %table{:width => "75%", :align => "center"}
        %tr{:height => "94"}
          %td
            %input{:type => "text", :id => "song_name", :name => "song_name", :size => "20"}
      %input{:type => "hidden", :class => "link", :value => "lastStep"}         
    %div{:id => "lastStep", :class => "step submit_step"}
      %table{:width => "40%", :align => "center"}
        %tr
          %div{:id => "parameters"}
        %tr
          %div
            LOGICAL OPERATORS
      %input{:type => "hidden", :name => "done", :value => "#{params["browse"]}"}  
  %br
  %div{:align => "center"}
    %input{:class => "navigation_button", :value => "Back", :type => "reset"}
    %input{:class => "navigation_button", :value => "Next", :type => "submit"}