%h1
  Secrets controller, index action
%p
  Edit this file in
  %tt
    app/views/secrets/index.html.erb
%table
  %tr
  - for secret in @secrets
    %tr
      %td
        = link_to 'Show', url(:secret, secret)
      %td
        = link_to 'Edit', url(:edit_secret,  secret)

= link_to 'New', url(:new_secret)