%h1 Secrets controller, new action

%p 
  Edit this file in 
  %tt app/views/secrets/new.html.erb

= error_messages_for @secret

= form_for(@secret, :action => url(:secrets) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:secrets)