%br
%form{:id => "browse_form", :method => "get", :action => "/shows/browse"}
  %div{:id => "browse_tabs"}    
    %ul
      %li
        %a{:href => "#date_tab"} Date
      %li
        %a{:href => "#venue_tab"} Venue
      %li
        %a{:href => "#song_tab"} Song
      %li
        %a{:href => "#recording_tab"} Recording
    %br
    %div{:id => "date_tab"}    
      %table{:width => "50%", :align => "center"}
        %tr
          %td{:align => "center"}
            %input{:type => "text", :name => "start_date", :id => "start_date", :size => "10"}
            to
            %input{:type => "text", :name => "end_date", :id => "end_date", :size => "10"}
    %div{:id => "venue_tab"}
      %table{:width => "85%", :align => "center"}
        %tr
          %td
            %input{:type => "text", :id => "venue_name", :name => "venue_name", :size => "20"}
    %div{:id => "song_tab"}
      %table{:width => "75%", :align => "center"}
        %tr
          %td
            %input{:type => "text", :id => "song_name", :name => "song_name", :size => "20"}       
    %div{:id => "recording_tab"}
      %table{:width => "85%", :align => "center"}
        %tr
          %td{:align => "center"}
            %select{:name => "recording_type", :id => "recording_type"}
              = options_for_select(get_recording_types)
    %div{:align => "center"}
      %input{:type => "hidden", :name => "done", :value => "yes"}
      %input{:type => "submit", :value => "Submit"}
      %input{:type => "reset", :value => "Clear"}
    %div
      %br
