%br
%form{:id => "browse_form", :method => "post", :action => "/shows/browse"}
%input{:type => "hidden", :name => "done", :value => "yes"}
  %div{:id => "browse_tabs"}    
    %ul
      %li
        %a{:href => "#date_tab"} By Date Range
      %li
        %a{:href => "#venue_tab"} By Venue
      %li
        %a{:href => "#song_tab"} By Song
      %li
        %a{:href => "#recording_tab"} By Recording Quality
    %div{:id => "date_tab"}    
      %table{:width => "50%", :align => "center"}
        %tr
          %td{:align => "center"}
            %input{:type => "text", :name => "start_date", :id => "start_date", :size => "10"}
            to
            %input{:type => "text", :name => "end_date", :id => "end_date", :size => "10"}
        %tr
          %td{:align => "center"}
            %input{:type => "submit"}
    %div{:id => "venue_tab"}
      %table{:width => "85%", :align => "center"}
        %tr
          %td{:align => "center"}
            %input{:type => "text", :id => "venue_name", :name => "venue_name", :size => "20"}
        %tr
          %td{:align => "center"}
            %input{:type => "submit"}
    %div{:id => "song_tab"}
      %table{:width => "75%", :align => "center"}
        %tr
          %td
            %input{:type => "text", :id => "song_name", :name => "song_name", :size => "20"}
        %tr
          %td{:align => "center"}
            %input{:type => "submit"}            
    %div{:id => "recording_tab"}
      %table{:width => "85%", :align => "center"}
        %tr
          %td{:align => "center"}
            %select{:name => "recording_type", :id => "recording_type"}
              = options_for_select(get_recording_types)
        %tr
          %td{:align => "center"}
            %input{:type => "submit"}
