= javascript_include_tag "admin"
%div{:id => "edit_recording_accordion"}
  %h3
    %a{:href => "#"} Update Show (admin only)
  %div
    = render 'shows/form'

    = link_to 'Show', @show
    |
    = link_to 'Back', shows_path
