%h2 Search Shows

%form{:action => "/shows/search_results", :method => "post"}
  = text_field :name => "venue_name", :label => "Venue"
  %p
    %select{:name => "year"}
      %option{:value => "2001"} 2001
      %option{:value => "2002"} 2002
      %option{:value => "2003"} 2003
      %option{:value => "2004"} 2004
      %option{:value => "2005"} 2005
      %option{:value => "2006"} 2006
      %option{:value => "2007"} 2007
      %option{:value => "2008"} 2008
    = submit "Search" 