%div{:id => "show_details_accordion"}
  %h3
    %a{:href => "#"} Show Details
  %div   
    = render 'shows/detail'
  %h3
    %a{:href => "#"} Recordings Available
  %div          
    = render 'recordings/list'