- cache do
  %div{:id => "show_detail_accordion"}
    %h3
      %a{:href => "#"} Show Details
    %div   
      = render 'shows/detail'
    %h3
      %a{:href => "#"} Recordings Available
    %div          
      = render 'recordings/list'