%div{:class => "ui-widget"}
  - if !message[:notice].nil?
    %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
      %p
        %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
        = message[:notice]
  - if !message[:error].nil?
    %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
      %p
        %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
        = message[:error]